<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>libmusicbrainz-objc</string>
     <key>CFBundleIdentifier</key>
     <string>org.musicbrainz.libmusicbrainz-objc.docset</string>
     <key>DocSetFeedName</key>
     <string>libmusicbrainz-objc Doxygen generated docs</string>
     <key>DocSetPublisherIdentifier</key>
     <string>org.musicbrainz.libmusicbrainz-objc.documentation</string>
     <key>DocSetPublisherName</key>
     <string>Publisher</string>
</dict>
</plist>
